body{
	margin: 0px;
}

.grid{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
	background-color: #33c6da;
	text-align: center;
}

.kiri{
	grid-column: 1/2;
	background-color: #47c017;
}

.tengah{
	grid-column: 2/3;
	background-color: #c01790;
}

.kanan{
	grid-column: 3/4;
	background-color: #1d10df;
}

.kiri-bawah{
	grid-column: 1/2;
	background-color: #47c017;
}

.tengah-bawah{
	grid-column: 2/3;
	background-color: #c01790;
}

.kanan-bawah{
	grid-column: 3/4;
	background-color: #1d10df;
}

/*css layout-grid*/
header{
	padding: 16px;
	background-color: indigo;
	color:#fff;
	text-align: center;
	font-family: arial;
}

nav{
	padding: 12px;
	background-color: lawngreen;
	text-align: center;
}

nav a{
	font-family: arial;
	text-decoration: none;
	padding: 8px;
	font-weight: bold;
	color: seagreen;

}
#grid-container{
 display: grid;
 grid-template-columns:auto auto auto; 
}

#top-left-content{
	grid-row: 1/4;
	grid-column: 1/2;
	background-color: #26f3e2;
	padding: 15px;
}

#top-center-content{
	grid-column: 2/4;
	background-color:#ef41be;
	padding: 15px;
}

footer{
	padding: 12px;
	background-color: lawngreen;
	text-align: center;
	font-family: arial;
	color:  seagreen;
}
